[Desktop Entry]
Type=Application
Name=Zed
Name[de]=Zed Editor
Comment=A high-performance, multiplayer code editor
Icon=zed
Exec=zed %U
Terminal=false
Categories=Development;TextEditor;
X-Dots-Sandbox-AppId=zed
X-Dots-Sandbox-Caps=net;
X-Dots-Sandbox-Tier=vm
X-Dots-Sandbox-Paths=~/Dokumente:rw;
